/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {

}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {
	.delivery__list {
		flex-wrap: wrap;
	}

	.delivery__item {
		flex: 0 1 calc(33.33% - 20px);
	}

	.about__image-qua {
		width: 250px;
		left: 60px;
		top: -100px;
	}

	.about__image-tractor {
		width: 250px;
		top: -50px;
		left: 100px;
	}

	.advantages__list-inner {
		grid-template-columns: repeat(2, 1fr);
	}

	.footer__inner {
		flex-direction: column;
		gap: 50px;
	}

	.advantages__item-text {
		font-size: 19px;
	}
}

/* md <= Large (lg) */
@media (max-width : 992px) {

}

/* sm <= Medium (md) */
@media (max-width : 768px) {
	.header__menu-list {
		justify-content: space-between;
	}

	.header__hero {
		flex-direction: column;
		text-align: center;

		margin-top: 30px;
	}

	.header__logo-icon-image {
		width: 200px;
	}

	.footer__logo {
		width: 150px;
	}

	.header__contact-link {
		font-size: 20px;
	}

	.header__menu-link {
		font-size: 14px;
	}

	.header__hero-title {
		font-size: 28px;
		margin-bottom: 20px;
	}

	.header__hero-text {
		font-size: 14px;
		margin-bottom: 20px;
	}

	.hero__button {
		display: none;
	}

	.header__hero-form-block {
		top: 0;
	}

	.header__hero-form-title {
		font-size: 18px;
	}

	.delivery__item {
		flex: 0 1 calc(50% - 20px);
	}

	.advantages__item-image {
		width: 130px;
	}

	.advantages__item-number {
		font-size: 18px;
		margin: 0;
	}

	.advantages__item-text {
		font-size: 14px;
	}

	.about__block {
		margin-bottom: 100px;
	}

	.about__title {
		text-align: center;
	}

	.about__text {
		text-align: center;
	}

	.about__info {
		flex-direction: column;
	}

	.about__image-qua {
		width: 250px;
		left: 60px;
		top: 0px;
	}

	.about__image-tractor {
		width: 250px;
		top: 30px;
		left: 100px;
	}

}

/* xs <= Small (sm) */
@media (max-width : 576px) {
	.header__top {
		flex-direction: column;	
		padding-bottom: 5px;
	}

	.header__contact-list {
		justify-content: space-between;
	}

	.header__logo-icon-image {
		width: 150px;
		margin-bottom: 8px;
	}

	.footer__logo {
		width: 150px;
	}

	.header__menu-item {
		text-align: center;
	}

	.header__menu-list {
		margin-top: 5px;
	}

	.header__menu-link {
		font-size: 9px;
		opacity: 0.7;
	}

	.header__contact-link {
		font-size: 13px;
		opacity: 1;
	}

	.delivery__list {
		flex-direction: column;
	}

	.header__hero-title {
		font-size: 22px;
		margin-bottom: 10px;
	}

	.header__hero-text {
		margin-bottom: 20px;
		font-size: 12px;
		opacity: 0.7;
		font-weight: 400;
	}

	.header__hero-form {
		gap: 10px;
	}

	.header__hero-form-title {
		font-size: 15px;
		padding: 10px;

		margin-bottom: 10px;
	}

	.header__hero-form-textarea {
		height: 80px;
	}

	.header__hero-form-input {
		font-style: 12px;
	}

	.header__hero-form-name {
		padding: 8px;
	}

	.about__text {
		width: 100%;
	}

	.about__image-qua {
		left: 60px;
	}

	.about__image-tractor {
		left: 60px;
	}

	.advantages__title {
		font-size: 48px;
	}

	.advantages__list-inner {
		grid-template-columns: repeat(1, 1fr);
	}

	.footer__block {
		flex-direction: column;
	}

	.footer__menu-list {
		flex-direction: column;
	}

	.footer__menu-list::before {
		display: none;
	}

	.footer__list {
		flex-direction: column;
	}

	.modal__text-privacy {
		font-size: 10px;
	}

	.swiper-button-prev, .swiper-button-next {
		position: absolute;
		top: 1070px;
	}
}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {

}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

}

/* Extra large (xl) */
@media (min-width : 1200px) {
	.text {
		font-size: 18px;
	}
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	.text {
		font-size: 22px;
	}
}
